.spinner:before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    border-bottom-color: var(--pink);
    border-right-color: var(--pink);
    border-top-color: var(--blue);
    border-left-color: var(--blue);
    animation: rotate-animation 1s linear 0s infinite;
}

@keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
}

@keyframes anti-rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
}

.spinner-home {
    width: 764px;
    height: 580px;
}

.spinner-finish {
    width: 250px;
    height: 250px;
}

.spinner-ev-card {
    width: 18px;
    height: 18px;
}

.spinner-ev-card {
    width: 45px;
    height: 45px;
}

.spinner-ev-card:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    border-bottom-color: var(--pink);
    border-right-color: var(--pink);
    border-top-color: var(--blue);
    border-left-color: var(--blue);
    animation: rotate-animation 1s linear 0s infinite;
}