.footer {
    padding: 1em;
    border-top-right-radius: 45px;
    position: relative;
}

.footer:before {
    content: "";
    width: 40px;
    height: 40px;
    background: var(--pink);
    position: absolute;
    top: -28px;
    left: 0;
    z-index: -2;
}
  
.footer:after {
    content: "";
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    left: -2px;
    z-index: -1;
  }